@model IEnumerable<BatteryModel>
@{ 
    // ViewData["Title"] = "Список моделей АКБ";
    Layout = null;
}
<!DOCTYPE html>

<hnml>
    <title>Модели АКБ</title>

    <body>
        <h3>АКБ</h3>
        <table>
            <tr>
                <td>Модель</td>
                <td>Паспортная емкость</td>
                <td>Производитель АКБ</td>
            </tr>
            @foreach (var modelBattery in Model)
            {
                <tr>
                    <td><a href="~/Home/GetBatteryConditionsByBatteryModel/@modelBattery.BatteryModelId">
                        @modelBattery.BatteryModelName</a></td>
                    <td>@modelBattery.BatteryCapacity</td>
                    <td>@modelBattery.BatteryBrand.BatteryBrandName</td>

                </tr>

            }
        </table>
    </body>
</hnml>